<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <defaultDocument>
            <files>
                <remove value="index.cfm" />
                <add value="login.cfm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
